/*==========================================================================*/
/* STARTING OF CSS FILE OF OUR PROGRAMS*/
/*==========================================================================*/

/*==========================================================================*/
/* FIRST STEPS OF CSS TO MAKE IT DECENT*/
/*==========================================================================*/

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*==========================================================================*/
/* FOR WHOLE HTML FILE*/
/*==========================================================================*/

html{
    background-color: #d2daff;
    color: white;
    font-family: 'catamaran','arial', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}
/*==========================================================================*/
/*MAIN BACKGROUND COVER*/
/*==========================================================================*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.36)),url(img/OurPrograms.jpg);
    height: 100vh;
    background-size: cover;
  //  background-position: center;
}
/*==========================================================================*/
/* QUOTE'S CSS DECORATION*/
/*==========================================================================*/

h1{
    margin: 0;
    color: white;
    font-size: 240%;
    font-weight: 600;
    //text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
        text-shadow:5px 2px 5px black;
    padding-left: 100px;
}
h1:after{
    display: block;
    height: 3px;
    background-color: orange;
    content: " ";
    width: 28%;
    margin: 0 aut;
    margin-top: 0%;
}
.Hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
/*==========================================================================*/
/*CSS DECORATION OF BUTTONS*/
/*==========================================================================*/

.btn:link,
.btn:visited{
    display: inline-block; 
    padding: 1px 10px;
    font-weight: 100;
    text-decoration: none;
    background-color:#03587a;
    border-radius: 50px;
    color: white;
    text-shadow:1px 1px 5px black;
    border: 1px solid grey;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-right: 10px;
}

.btn btn-courses:link,
.btn btn-courses:visited{

}

.btn:hover,
.btn:active {
    background-color:#4fc9fa; 

}

/*==========================================================================*/
/*CSS DECORATION OF NEVIGATION BAR*/
/*==========================================================================*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 30px;
}
.main-nav li a:link,
.main-nav li a:visited
{
    color: white;
    padding-top: 10px;
    padding-bottom: 0px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}
section {
    padding: 50px 1px;
}

.main-nav li a:hover,
.main-nav li a:active
{
    border-bottom: 2px solid #4fc9fa;
}
/*==========================================================================*/
/*CSS DECORATION OF NEVIGATION BAR*/
/*==========================================================================*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: -55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 20px;
}
.main-nav li a:link,
.main-nav li a:visited
{
    color: white;
    padding-top: 10px;
    padding-bottom: 0px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active
{
    border-bottom: 2px solid #4fc9fa;
}
/*==========================================================================*/
/*CSS DECORATION OF LOGO*/
/*==========================================================================*/

.logo {
    height: 120px;
    width: auto;
    float:left;
    margin-top: 10px;
    border-radius: 10%;

}

.OurProgram {
    font-size: 200%;
}
